<br><br><br><br>
<p  class="certi-me" ><i class="bx bx-certification" style="color:white;font-size:51px;"></i>Certifications</p>

<div class="container fade-in-text">
    <div class="row">
       
        <div class="col-sm-6" style="margin-bottom: 20px;" >
            <img src="assets/img/udemy.jpg" class="img1">
            <div class="text">Udemy<br>(HTML5 course)</div>
        </div>
        
        <div class="col-sm-6" style="margin-bottom: 20px;">
            <img src="assets/img/gl1.jpg" class="img1">
            <div class="text">Great Learning<br>(Introduction to HTML)</div>
        </div>
        
    </div>
 </div><br>

 <div class="container">
    <div class="row">
       
        <div class="col-sm-6" style=" margin-bottom: 20px;" >
            <img src="assets/img/udemy2js.jpg" class="img1">
            <div class="text">Udemy<br>(Javascript Ultimate Course)</div>
        </div>
        
        <div class="col-sm-6" style="margin-bottom: 20px;">
            <img src="assets/img/gl2.jpg" class="img1">
            <div class="text">Great Learning<br>(Introduction to Javascript)</div>
        </div>   
    </div>
 </div><br>
 <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/img/datacamp.jpg" class="img1">
            <div class="text">Datacamp<br>(Introduction to SQL)</div>
        </div>
        
        
        <div class="col-sm-6">
            <img src="assets/img/gl3.jpg" class="img1">
            <div class="text">Great Learning<br>(Frontend Developement-CSS)</div>
        </div>
           
    </div>
 </div><br>
 <div class="container">
    <div class="row">

        <div class="col-sm-6" style="margin-bottom: 20px;" >
            <img src="assets/img/course1.jpeg" class="img1">
            <div class="text">Coursera<br>(Build a website using Wordpress)</div>
        </div>

        <div class="col-sm-6"></div>
       
    
    </div>
 </div>