<div class="container  fade-in-text" id="contact"><br><br>
		<br><br><p class="contact-me"><i class="bx bx-phone-call" style="color:white;font-size:51px;"></i>Contact</p><br>
			<div class="row">
				<div class="col-sm-6">
					<p style="font-size:22px">
						<b>Address:</b> <br>RX 1/8 Navjivandhara Housing Society Bajajnagar, Aurangabad- 431136
					</p>
					<p style="font-size:22px">
						<b>Contact:</b> +91 8600555146
					</p>
					<p style="font-size:22px">
						<b>Email:</b> nikitakadlag24@gmail.com
					</p>
			
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.900834065454!2d75.23259091438837!3d19.844148432534997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdb9bce15555555%3A0x1b464dd3b13f0988!2sJagrut%20Hanuman%20Temple!5e0!3m2!1sen!2sin!4v1619354064478!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		
				</div>
				<div class="col-sm-6">
					<form>
						<div class="form-group">
							<label id="ln" for="name">Name</label>
							<input type="text" placeholder="Enter your name" id="name" class="form-control">
						</div>
						<div class="form-group">
							<label for="email" id="ln">Email</label>
							<input type="text" placeholder="Enter your email" id="email" class="form-control">
						</div>
				
						<div class="form-group">
							<label id="ln" for="sub">Subject</label>
							<input type="text" placeholder="Enter your subject" id="sub" class="form-control">
						</div>
				
						<div class="form-group">
							<label id="ln" for="name">Message</label>
							<textarea placeholder="Enter your message" id="name" class="form-control" rows="7"></textarea>
						</div>
				
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
