p{
	color:white;
	font-size:25px;
	font-family:Copperplate,Papyrus;
	word-spacing: 6px;
	text-align: center;
}
.contact-me{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
	font-family:Copperplate,Papyrus;

}
iframe{
	height:300px;
	width:100%;
}
.btn-success {
    color: #000;
    background-color: #e17839;
    border-color: #8e560d;
	height:40px;
	border-radius: 19px;
    font-family: Copperplate,Papyrus ;
    font-weight: bold;
    margin-left: 242px;
}
label{
	color:white;
	font-family:Copperplate,Papyrus;
	
}
@media screen and (max-width: 900px) {
	.contact-me{
	   font-size: 40px;
	   font-family:Copperplate,Papyrus;
	   }
       .btn-success{
           margin-left: 180px;
		   font-family: Copperplate,Papyrus ;
       }
	   p{
		color:white;
		font-size:25px;
		font-family:Copperplate,Papyrus;
		word-spacing: 6px;
		text-align: center;
	}
	   
	}