

<br><br><br><br>
<div class="fade-in-text">
	<p class="about-me">
	
		<b><i class="bx bx-user" style="color:white;font-size:51px;"></i>About Me</b>
   </p>
	   <div class="container  fade-in-text">
		   <p>I am Nikita Kadlag,I have done my graduation in BE E&Tc from Pune University with First Class Distinction.Now, as a Fresher, I am waiting for an opportunity to upgrade my 
			   skills.I am honest, hardworking and punctual towards my work.</p><br>
	   
		   <div class="row" style="background-color: black;">
			   <div class="col-sm-6">
				   <img class="img2" src="assets/img/nk6.png" >
			   </div>
			   <div class="col-sm-6">
					   <br><br>
					   <p style="font-size:30px;"><b>I'm Passionate Front-end Developer</b></p>
					   <br>
					   <p>Birthday - 22<sup>nd</sup> April 1998</p><br>
					   <p>City - Aurangabad (431136)</p><br>
					   <p>Degree - Bachelor of Electronics & Telecommunication</p><br>
					   <p>Age - 22</p><br>
					   <p>Email - nikitakadlag24@gmail.com</p><br>
				   
			   </div>
		   </div>
	   </div>
</div>