<br><br><br><br>

<div class="fade-in-text">
    <p  class="resume-me" ><i class="bx bx-file" style="color:white;font-size:51px;"></i>Resume</p>

<div class="container  fade-in-text">
    <p> I want to become a part of a organization where I can utilize as well as develop my skills by getting a good exposure, and knowledge can be utilized for the benefit of organization and society.  </p>
    <br>

    <div class="span">Education</div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3" style="background-color:#000000c2; margin-bottom: 20px;" >
            <p style="font-size:20x"><b>* Bachelor of Electronics & Telecommunication <br> 2017-2020</b></p>
            <p style="font-size:18px">Sharadchandra Pawar College of Engineering Otur Dist-Pune,Maharashtra<br> CGPA = 8.36</p>
            <hr>
        </div>
        <div class="col-sm-1"></div>
		<div class="col-sm-3" style="background-color:#000000c2;margin-bottom: 20px;">
			<p style="font-size:20px"><b>* Diploma in Electronics & Telecommunication <br> 2014-2017</b></p>
			<p style="font-size:18px">Sanjivani K.B.P Polytechnic Kopargao Dist-Nagar<br> Percentage = 84.65%</p>
		</div>
        <div class="col-sm-1"></div>
		<div class="col-sm-3" style="background-color:#000000c2">
			<p style="font-size:20px"><b>* SSC <br> 2014</b></p>
			<p style="font-size:18px">Bhairomal Tanwani Vidyamandir Bajajnagar Aurangabad<br> Percentage = 82.65%</p>
		</div>

    </div><br><br>

    <a href="assets/pdf/NikitaKcv.pdf" class="btn btn-success" id="resumedownload">Download Resume</a>
</div>
</div>