<section id="skills" class="skills section fade-in-text">
<div class="container" data-aos="fad-up">
    <br><br><br><br>
<p  class="skills-me" > <b><i class="bx bx-certification" style="color:white;font-size:51px;"></i>Skills</b> </p>
					<p>Skills are your natural talents and the expertise you develop to perform a task or a job. Life skills help you deal with daily tasks in all areas of life while professional 
					skills allow you to perform specific work duties. There are several key types of skills: soft skills, technical skills,specific skills.</p><br>
				
				<br><br>
				<div class="dropdown">
					<button class="dropbtn"> Technical Skills<i class="bx bx-chevrons-down" style="color:white;font-size:26px;"></i></button>
						<div class="dropdown-content">
						
					<label>Html   90%</label>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width:90%"></div><br>
						</div>
					
					<label>Css     85%</label>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width:85%"></div><br>
						</div>
					
					<label>Javascript     80%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:80%"></div><br>
						</div>
						
					<label>Boostrap    80%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:80%"></div><br>
						</div>
						
					<label>Angular     80%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:80%"></div><br>
						</div>
						
					<label>SQL     88%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:88%"></div><br>
						</div>
						
					<label>C language 70%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:70%"></div><br>
						</div><br>
						</div>
				</div><br><br>
				
				<div class="dropdown">
				
					<button class="dropbtn"> Soft Skills <i class="bx bx-chevrons-down" style="color:white;font-size:26px;"></i></button>
						<div class="dropdown-content">
				
					
					<label>Communication    90%</label>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width:90%"></div><br>
						</div>
					
					<label>Time Management      90%</label>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width:90%"></div><br>
						</div>
					
					<label>Ability to learn   95%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:95%"></div><br>
						</div>
						
					<label>Leadership    88%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:88%"></div><br>
						</div>
						
					<label>Problem Solving  80%</label>
						<div class="progress" >
							<div class="progress-bar progress-bar-danger" style="width:80%"></div><br>
						</div><br>
						</div>
				</div>
</div>
</section>